<div style="text-align:center">
  Create User
  <span *ngIf="message"> - {{message}}</span><br>
  <br>
  <input [ngModel]="register.username" placeholder="username"
    (ngModelChange)="validateUsername($event)">{{validate_username}}<br>
  <input [(ngModel)]="register.password" type="password" placeholder="password"><br>
  <input [(ngModel)]="register.name"  placeholder="name"><br>
  <input [(ngModel)]="register.mobile" placeholder="mobile"><br>
  <input [(ngModel)]="register.email" placeholder="email" value="dafdads"><br>
  <button (click)="registerUser()">Save</button>
  <p><a routerLink="/login"><h4>back to login</h4></a></p>
</div>


